.frame-child2 {
    position: relative;
    background-color: var(--color-azure);
    width: 1956px;
    height: 138px;
    display: none;
    max-width: 100%;
  }
  .kiet-1-icon {
    position: relative;
    width: 178px;
    height: 133px;
    object-fit: cover;
    z-index: 2;
  }
  .frame-child3 {
    position: relative;
    border-radius: var(--br-mid);
    background-color: var(--color-mediumturquoise-200);
    width: 321px;
    height: 63px;
    transform: rotate(0.33deg);
    display: none;
    max-width: 100%;
  }
  .courses {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    z-index: 3;
  }
  .arrow-right-1-icon {
    position: relative;
    width: 55px;
    height: 55px;
    object-fit: cover;
    z-index: 3;
  }
  .rectangle-parent1 {
    border-radius: var(--br-mid);
    background-color: var(--color-mediumturquoise-200);
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-8xs) var(--padding-28xl) var(--padding-9xs) 59px;
    gap: var(--gap-lgi);
    max-width: 100%;
    z-index: 2;
  }
  .frame-div,
  .rectangle-parent1,
  .slide-169-3-inner {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
  }
  .frame-div {
    background-color: var(--color-azure);
    width: 1956px;
    align-items: center;
    justify-content: center;
    padding: var(--padding-8xs) var(--padding-xl) 0 100px;
    gap: 1195px;
    max-width: 102%;
    flex-shrink: 0;
    z-index: 1;
  }
  .slide-169-3-inner {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-17xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .start-career-ba-1-1-icon {
    position: absolute;
    margin: 0 !important;
    top: -69px;
    right: 153px;
    width: 559px;
    height: 382px;
    object-fit: cover;
  }
  .frame-child4 {
    position: relative;
    border-radius: var(--br-38xl);
    background-color: var(--color-azure);
    width: 800px;
    height: 178px;
    display: none;
    max-width: 100%;
  }
  .education-without-borders {
    margin: 0;
    flex: 1;
    position: relative;
    font-size: inherit;
    display: inline-block;
    font-style: italic;
    font-weight: 500;
    font-family: inherit;
    max-width: 100%;
    z-index: 1;
  }
  .frame-wrapper1,
  .rectangle-parent2 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    max-width: 100%;
  }
  .rectangle-parent2 {
    flex: 1;
    border-radius: var(--br-38xl);
    background-color: var(--color-azure);
    align-items: center;
    justify-content: center;
    padding: var(--padding-mini) 26px 17px var(--padding-6xl);
  }
  .frame-wrapper1 {
    width: 866px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-14xl);
    text-align: center;
  }
  .frame-child5 {
    position: relative;
    border-radius: var(--br-mid);
    background-color: var(--color-mediumturquoise-200);
    width: 301px;
    height: 74px;
    display: none;
  }
  .connect-with {
    flex: 1;
    position: relative;
    font-size: var(--font-size-13xl);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
    display: inline-block;
    height: 44px;
    z-index: 1;
  }
  .frame-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-mini) var(--padding-17xl) var(--padding-mini) 37px;
    background-color: var(--color-mediumturquoise-200);
    flex: 1;
    border-radius: var(--br-mid);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 196px;
    white-space: nowrap;
  }
  .frame-button:hover,
  .rectangle-parent3:hover {
    background-color: var(--color-lightseagreen-200);
  }
  .frame-child6 {
    position: relative;
    width: 166px;
    height: 82px;
    object-fit: cover;
  }
  .frame-parent3 {
    width: 503px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 36px;
    max-width: 100%;
  }
  .blank-line,
  .text {
    margin: 0;
  }
  .text {
    align-self: stretch;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .frame-child7,
  .our-professors {
    position: relative;
    transform: rotate(0.33deg);
  }
  .frame-child7 {
    border-radius: var(--br-mid);
    background-color: var(--color-mediumturquoise-200);
    width: 321px;
    height: 63px;
    display: none;
    max-width: 100%;
  }
  .our-professors {
    font-size: var(--font-size-17xl);
    font-family: var(--font-inter);
    color: var(--color-black);
    text-align: left;
    z-index: 1;
  }
  .rectangle-parent3 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) var(--padding-15xl) 9px var(--padding-14xl);
    background-color: var(--color-mediumturquoise-200);
    border-radius: var(--br-mid);
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    max-width: calc(100% - 20px);
    white-space: nowrap;
  }
  .text-parent {
    align-self: stretch;
    width: 553px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .frame-parent2,
  .frame-wrapper2,
  .frame-wrapper3 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-wrapper3 {
    align-self: stretch;
    height: 88px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .frame-parent2,
  .frame-wrapper2 {
    justify-content: flex-start;
  }
  .frame-parent2 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-16xl);
  }
  .frame-wrapper2 {
    width: 1021px;
    flex-direction: row;
    padding: 0 var(--padding-54xl);
    box-sizing: border-box;
    min-height: 217px;
    font-size: var(--font-size-17xl);
  }
  .whatsapp-image-2024-01-16-at-2 {
    flex: 1;
    position: relative;
    border-radius: var(--br-mid);
    max-width: 100%;
    overflow: hidden;
    height: 312px;
    object-fit: cover;
    cursor: pointer;
  }
  .whatsapp-image-2024-01-16-at-2-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 3px;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child8 {
    position: relative;
    border-radius: var(--br-38xl);
    background-color: var(--color-azure);
    width: 402px;
    height: 87px;
    display: none;
    max-width: 100%;
  }
  .coa-bcs302-2ndyear,
  .mr-anurag-gupta {
    margin: 0;
  }
  .mr-anurag-gupta-container {
    align-self: stretch;
    flex: 1;
    position: relative;
    z-index: 1;
  }
  .rectangle-parent4 {
    align-self: stretch;
    border-radius: var(--br-38xl);
    background-color: var(--color-azure);
    height: 87px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: var(--padding-mini) 46px var(--padding-sm) var(--padding-54xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-parent5 {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-22xl);
    max-width: 100%;
  }
  .frame-child10,
  .frame-child9 {
    position: relative;
    max-width: 100%;
  }
  .frame-child9 {
    align-self: stretch;
    border-radius: var(--br-mid);
    overflow: hidden;
    height: 312px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .frame-child10 {
    border-radius: var(--br-38xl);
    background-color: var(--color-azure);
    width: 402px;
    height: 87px;
    display: none;
  }
  .ms-anjali-chauhan,
  .python-bcc302-2ndyear {
    margin: 0;
  }
  .ms-anjali-chauhan-container {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .rectangle-parent5,
  .rectangle-parent6 {
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .rectangle-parent6 {
    align-self: stretch;
    border-radius: var(--br-38xl);
    background-color: var(--color-azure);
    flex-direction: row;
    justify-content: flex-end;
    padding: var(--padding-mini) var(--padding-8xl) var(--padding-sm)
      var(--padding-33xl);
    box-sizing: border-box;
  }
  .rectangle-parent5 {
    width: 407px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 38px;
  }
  .frame-child11,
  .frame-child12 {
    position: relative;
    max-width: 100%;
  }
  .frame-child11 {
    border-radius: var(--br-mid);
    max-height: 100%;
    width: 407px;
    object-fit: cover;
  }
  .frame-child12 {
    border-radius: var(--br-38xl);
    background-color: var(--color-azure);
    width: 402px;
    height: 87px;
    display: none;
  }
  .ds-bcs301-2ndyear,
  .mr-nagesh-sharma {
    margin: 0;
  }
  .mr-nagesh-sharma-container {
    flex: 1;
    position: relative;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .rectangle-parent8 {
    flex: 1;
    border-radius: var(--br-38xl);
    background-color: var(--color-azure);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: var(--padding-mini) var(--padding-8xl) var(--padding-sm)
      var(--padding-33xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-child13 {
    position: relative;
    border-radius: var(--br-xl);
    width: 332px;
    height: 86px;
    max-width: 100%;
    z-index: 2;
    margin-left: -161px;
  }
  .frame-parent6 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent4,
  .rectangle-parent7 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .rectangle-parent7 {
    width: 573px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-22xl);
  }
  .frame-parent4 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size-5xl);
  }
  .frame-parent1,
  .slide-169-3-child,
  .start-career-ba-1-1-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent1 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-16xl);
  }
  .slide-169-3-child,
  .start-career-ba-1-1-parent {
    flex-direction: row;
  }
  .start-career-ba-1-1-parent {
    flex: 1;
    position: relative;
  }
  .slide-169-3-child {
    width: 1764px;
    padding: 0 var(--padding-smi);
    box-sizing: border-box;
    text-align: left;
    font-size: 60px;
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .frame-child14 {
    position: relative;
    background-color: var(--color-mediumturquoise-200);
    width: 1920px;
    height: 354px;
    display: none;
    max-width: 100%;
  }
  .download-removebg-preview-1 {
    position: relative;
    max-height: 100%;
    width: 408px;
    object-fit: cover;
    max-width: 100%;
    z-index: 1;
  }
  .edubotics-is-a-software-applic {
    margin: 0;
  }
  .edubotics-is-a-software-applic-container {
    align-self: stretch;
    position: relative;
    display: inline-block;
    height: 143px;
    flex-shrink: 0;
    z-index: 1;
  }
  .download-removebg-preview-1-parent {
    width: 779px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-6xl);
    min-width: 779px;
    max-width: 100%;
  }
  .contact-us {
    margin: 0;
    position: relative;
    font-size: inherit;
    text-decoration: underline;
    font-weight: 400;
    font-family: inherit;
    z-index: 1;
  }
  .kiet-group-of,
  .phone-8744097774 {
    margin: 0;
  }
  .itsupportkietedu {
    text-decoration: underline;
  }
  .e-mail-itsupportkietedu {
    margin: 0;
  }
  .kiet-group-of-container {
    position: relative;
    font-size: var(--font-size-13xl);
    display: inline-block;
    height: 127px;
    flex-shrink: 0;
    z-index: 1;
  }
  .contact-us-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-27xl);
  }
  .frame-footer,
  .frame-wrapper4 {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-wrapper4 {
    width: 782px;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-6xs) 0 0;
    min-width: 782px;
    font-size: var(--font-size-45xl);
  }
  .frame-footer {
    align-self: stretch;
    background-color: var(--color-mediumturquoise-200);
    flex-direction: row;
    justify-content: space-between;
    padding: 38px var(--padding-54xl) 31px 97px;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-7xl);
    color: var(--color-black);
    font-family: var(--font-jejumyeongjo);
  }
  .slide-169-3 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 49px;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1725px) {
    .frame-parent4 {
      flex-wrap: wrap;
    }
    .download-removebg-preview-1-parent,
    .frame-wrapper4 {
      flex: 1;
    }
    .frame-footer {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1350px) {
    .frame-div {
      gap: 299px;
      padding-left: var(--padding-6xl);
      box-sizing: border-box;
    }
    .education-without-borders {
      font-size: var(--font-size-29xl);
    }
    .frame-parent3 {
      gap: var(--gap-lg);
    }
    .text {
      font-size: var(--font-size-10xl);
    }
    .rectangle-parent7 {
      gap: var(--gap-xl);
    }
    .frame-parent1 {
      gap: var(--gap-mid);
    }
    .contact-us {
      font-size: var(--font-size-32xl);
    }
    .kiet-group-of-container {
      font-size: var(--font-size-7xl);
    }
    .frame-footer {
      padding-left: var(--padding-5xl);
      box-sizing: border-box;
    }
    .slide-169-3 {
      gap: 24px;
    }
  }
  @media screen and (max-width: 900px) {
    .frame-div {
      gap: 597px;
      padding-left: var(--padding-31xl);
      box-sizing: border-box;
    }
    .frame-wrapper2 {
      padding-left: var(--padding-17xl);
      padding-right: var(--padding-17xl);
      box-sizing: border-box;
    }
    .download-removebg-preview-1-parent,
    .frame-wrapper4 {
      min-width: 100%;
    }
    .frame-footer {
      padding-left: var(--padding-29xl);
      padding-right: var(--padding-17xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .rectangle-parent1 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .frame-div {
      gap: 149px;
    }
    .education-without-borders {
      font-size: var(--font-size-17xl);
    }
    .text {
      font-size: 22px;
    }
    .frame-parent2 {
      gap: var(--gap-mid);
    }
    .mr-anurag-gupta-container {
      font-size: var(--font-size-lgi);
    }
    .rectangle-parent4 {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .frame-parent5 {
      gap: var(--gap-xl);
    }
    .ms-anjali-chauhan-container {
      font-size: var(--font-size-lgi);
    }
    .rectangle-parent6 {
      padding-left: var(--padding-xl);
      box-sizing: border-box;
    }
    .rectangle-parent5 {
      gap: var(--gap-lgi);
    }
    .mr-nagesh-sharma-container {
      font-size: var(--font-size-lgi);
    }
    .rectangle-parent8 {
      padding-left: var(--padding-xl);
      box-sizing: border-box;
    }
    .edubotics-is-a-software-applic-container {
      font-size: 21px;
    }
    .contact-us {
      font-size: var(--font-size-19xl);
    }
    .kiet-group-of-container {
      font-size: var(--font-size-lgi);
    }
    .contact-us-parent {
      gap: var(--gap-4xl);
    }
    .frame-footer {
      padding-top: var(--padding-6xl);
      padding-bottom: var(--padding-xl);
      box-sizing: border-box;
    }
  }