.frame-child {
    position: relative;
    background-color: var(--color-thistle);
    width: 784px;
    height: 753px;
    display: none;
    max-width: 100%;
  }
  .registration {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-style: italic;
    font-weight: 700;
    font-family: inherit;
    z-index: 1;
  }
  .registration-wrapper {
    width: 463px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: 100%;
    font-size: var(--font-size-45xl);
  }
  .username {
    position: relative;
    font-weight: 700;
    z-index: 1;
  }
  .username-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-item {
    align-self: stretch;
    max-width: 100%;
    overflow: hidden;
    height: 56px;
    flex-shrink: 0;
  }
  .frame-inner,
  .frame-item,
  .password {
    position: relative;
    z-index: 1;
  }
  .password {
    font-weight: 700;
  }
  .frame-inner {
    align-self: stretch;
    flex: 1;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .password-parent,
  .vector-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .password-parent {
    flex: 1;
    gap: var(--gap-3xl);
  }
  .vector-parent {
    height: 209px;
    gap: var(--gap-8xl);
  }
  .confirm-password,
  .rectangle-icon {
    position: relative;
    max-width: 100%;
    z-index: 1;
  }
  .confirm-password {
    display: inline-block;
    font-weight: 700;
  }
  .rectangle-icon {
    align-self: stretch;
    overflow: hidden;
    height: 56px;
    flex-shrink: 0;
  }
  .confirm-password-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-8xl);
    min-height: 147px;
    max-width: 100%;
  }
  .rectangle-div {
    position: relative;
    border-radius: var(--br-xs);
    background-color: var(--color-mediumseagreen);
    width: 308px;
    height: 78px;
    display: none;
    z-index: 0;
  }
  .register {
    position: relative;
    font-weight: 700;
    z-index: 2;
  }
  .log-in {
    position: relative;
    font-size: var(--font-size-xl);
    text-decoration: underline;
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-navy-100);
    text-align: left;
    white-space: nowrap;
  }
  .log-in-wrapper,
  .rectangle-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .log-in-wrapper {
    cursor: pointer;
    border: 0;
    padding: var(--padding-3xs) 6px var(--padding-3xs) var(--padding-3xs);
    background-color: transparent;
    margin: 0 !important;
    position: absolute;
    right: -3px;
    bottom: -42px;
    z-index: 2;
  }
  .rectangle-group {
    border-radius: var(--br-xs);
    background-color: var(--color-mediumseagreen);
    padding: var(--padding-mini) 78px var(--padding-mini) 77px;
    position: relative;
    z-index: 1;
  }
  .already-have-a {
    position: relative;
    font-size: var(--font-size-xl);
    font-weight: 500;
    font-family: var(--font-inter);
    color: var(--color-black);
    z-index: 1;
  }
  .frame-parent,
  .frame-wrapper {
    display: flex;
    align-items: flex-start;
  }
  .frame-parent {
    flex-direction: column;
    justify-content: flex-start;
    gap: 8px;
  }
  .frame-wrapper {
    width: 403px;
    flex-direction: row;
    justify-content: flex-end;
    max-width: 100%;
    color: var(--color-white);
  }
  .desktop-2,
  .rectangle-parent {
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  .rectangle-parent {
    background-color: var(--color-thistle);
    width: 784px;
    flex-direction: column;
    justify-content: flex-start;
    padding: 44px 142px var(--padding-3xs) var(--padding-28xl);
    gap: var(--gap-8xl);
    max-width: 100%;
  }
  .desktop-2 {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    padding: 164px var(--padding-xl) 163px;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-21xl);
    color: var(--color-black);
    font-family: var(--font-inria-serif);
  }
  @media screen and (max-width: 900px) {
    .registration {
      font-size: var(--font-size-19xl);
    }
    .confirm-password,
    .password,
    .register,
    .username {
      font-size: var(--font-size-5xl);
    }
    .log-in {
      font-size: var(--font-size-base);
    }
    .rectangle-group {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .already-have-a {
      font-size: var(--font-size-base);
    }
    .rectangle-parent {
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 450px) {
    .registration {
      font-size: var(--font-size-32xl);
    }
    .confirm-password,
    .password,
    .register,
    .username {
      font-size: var(--font-size-13xl);
    }
    .rectangle-parent {
      padding: 29px var(--padding-52xl) var(--padding-xl) 23px;
      box-sizing: border-box;
    }
  }